@model AccountingProgram.Models.Expenses

<h1 style="text-align:center">Update Expense Type </h1>
<form action="/Expense/UpdateExpense" method="post">
    <input type="hidden" id="ExpId" name="ExpId" value="@Model.ExpId" />
    <label for="description"> Expense Type</label><br />
    <select id="description" name="description">
        <option value="---">------</option>
        <option value="Advertising">Advertising</option>
        <option value="Depreciation">Depreciation</option>
        <option value="Employee Benefits">Employee Benefits</option>
        <option value="Insurance">Insurance</option>
        <option value="Meals / Entertainment">Meals / Entertainment</option>
        <option value="Rent / Lease">Rent / Lease</option>
        <option value="Supplies">Supplies</option>
        <option value="Travel">Travel</option>
        <option value="Utilities">Utilities</option>
        <option value="Vehicle">Vehicle</option>
        <option value="Wages">Wages</option>
        <option value="Other">Other</option>
    </select><br />
    <label for="paymentDate">Payment Date</label><br />
    <input type="text" id="paymentDate" name="paymentDate" value="@Model.PaymentDate.ToShortDateString()" readonly /><br />
    <label for="amount">Amount to Debit from Cash</label><br />
    <input type="number" id="amount" name="amount" step=".01" value="@Model.Amount" readonly /><br />
    <input type="submit" value="Update Expense" />
</form>
<br />
<button onclick="location.href='/Expense/ExpenseIndex'">Return to Expense Menu</button>