<h1 style="text-align:center">Add a Current Asset</h1>

<form action="/ShortTermAssets/AddAsset" method="post">
    <label for="Type">Item</label><br />
    <input type="text" id="Type" name="Type" /><br />
    <label for="Description">Asset Type</label><br />
    <select id="Description" name="Description">
        <option value="---">------</option>
        <option value="Marketable Securities">Marketable Securities</option>
        <option value="Prepaid Insurance">Prepaid Insurance</option>
        <option value="Prepaid Rent">Prepaid Rent</option>
        <option value="Prepaid Other Expense">Prepaid Other Expense</option>
        <option value="Other Current Asset">Other Current Asset</option>

    </select><br />
    <label for="TransDate">Transaction Date</label><br />
    <input type="date" id="TransDate" name="TransDate" /><br />
    <label for="Cost">Payment Amount to be Credited to Cash</label><br />
    <input type="number" id="Cost" name="Cost" step=".01" /><br />
    <input type="submit" value="Add Asset" />

</form>