@using AccountingProgram.Models

@model AccPayInvExp

<table style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>

        </tr>
    </thead>
    <tbody>
        @{

            foreach (var i in Model.InventoryList)
            {
                <tr>
                    <td><a href="/Inventory/GetIndividualItem?id=@i.InvId">@i.InvId</td>
                    <td>@i.Item</td>
                    <td>@i.Quantity</td>
                    <td>@i.Price</td>
                </tr>
            }

         }
    </tbody>
</table>
<br />
<button onclick="location.href='/Inventory/AddInventory'">Add New Inventory Item</button>

