@using AccountingProgram.Models
@model List<Wages>
<h1 style="width:100%">Payroll Index</h1>
<br />
<button onclick="location.href='/Payroll/AddWages'">Add Paycheck</button>
<button onclick="location.href='/Payroll/PayTaxes'">Pay Payroll Taxes</button>
<button onclick="location.href='/Payroll/PayBenefits'">Pay Benefits/Retirement Payables</button>
<table style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Payroll Date</th>
            <th>Gross Pay</th>
            <th>Net Pay</th>            
        </tr>
    </thead>
    <tbody>
        @foreach(var w in Model)
        {
            <tr>
                <td><a href="/Payroll/WageDetails?id=@w.WageId">@w.WageId</a></td>
                <td>@w.PayDate.ToShortDateString()</td>
                <td>@w.GrossPay</td>
                <td>@w.NetPay</td>
                <td><button onclick="location.href='/Payroll/IndividualPay?id=@w.PayrollPayableId'" style="font-size:15px">View Related Payable / Pay Salary</button></td>
               
            </tr>
        }
    </tbody>
</table>
