<h1 style="text-align:center">Add a Long Term Liability</h1>
<br />
<br />
<form action="/LongTermLiabilities/AddLTLiability" method="post">
    <label for="Ltlitem">Item</label><br />
    <input type="text" id="Ltlitem" name="Ltlitem" /><br />
    <label for="Lltdescription">Liability Type</label><br />
    <select id="Ltldescription" name="Ltldescription">
        <option value="---">------</option>
        <option value="Loan Payable">Loan Payable</option>
    </select><br />
    <label for="OriginDate">Origin Date</label><br />
    <input type="date" id="OriginDate" name="OriginDate" /><br />
    <label for="TotalAmount">Total Amount</label><br />
    <input type="number" id="TotalAmount" name="TotalAmount" step=".01" /><br />
    <label for="TotalNumberofPayments">Total Number of Payments</label><br />
    <input type="number" id="TotalNumberofPayments" name="TotalNumberofPayments" /><br />
    <label for="Ltlbalance">Balance</label><br />
    <input type="number" id="Ltlbalance" name="Ltlbalance" step=".01" /><br />
    <input type="submit" value="Add LT Liability" />
</form>
