<h1 style="text-align:center">Add a New Accounts Payable</h1>
<br />
<h3>Rememver to enter inventory items in the Inventory Tab!!!</h3>
<br />
<form action="/AccountsPayable/AddPayable" method="post">
    <label for="VendorName">Vendor Name</label><br />
    <input type="text" id="VendorName" name="VendorName" /><br />
    <label for="VenId">Vendor Id</label><br />
    <input type="number" id="VenId" name="VenId" /><br />
    <label for="DueDate">Due Date</label><br />
    <input type="date" id="DueDate" name="DueDate" /><br />
    <label for="AmountDue"> Total Amount Due</label><br />
    <input type="number" id="AmountDue" name="AmountDue" step=".01" /><br />
    <label for="Balance">Balance Due</label><br />
    <input type="number" id="Balance" name="Balance" step=".01" /><br />
    <input type="submit" value="Add Payable" />
</form>

