<h1 style="text-align:center">Add a New Purchase Order</h1>

<br />
<form action="/AccountsPayable/AddPayable" method="post">
    <div>
    <label for="VendorName">Vendor Name</label><br />
    <input type="text" id="VendorName" name="VendorName" /><br />
    <label for="VenId">Vendor Id</label><br />
    <input type="number" id="VenId" name="VenId" /><br />
    <label for="DueDate">Due Date</label><br />
    <input type="date" id="DueDate" name="DueDate" /><br />
    <label for="AmountDue"> Total Amount Due</label><br />
    <input type="number" id="AmountDue" name="AmountDue" step=".01" /><br />
    <label for="Balance">Balance Due</label><br />
    <input type="number" id="Balance" name="Balance" step=".01" /><br />
    </div>    
    <br />
    <div>
        <button type="button" id="AddButton">Add Inventory Item</button>
        <table style="width:100%">
            <thead>
                <tr>
                    <td>Inventory Id</td>
                    <td>Item</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>BackOrdered</td>
                    <td>Received</td>
                    <td></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button>Submit</button>
    </div>

</form>

<input type="hidden" id="totalItems" value="0" />
<button onclick="location.href='/AccountsPayable/GetAllPayables'">Return to Accounts Payable Menu</button>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
    $(document).ready(function () {
        $("#AddButton").click(function () {
            tc = parseInt($("#totalItems").val());
            tc = tc + 1;
            $("#totalItems").val(tc)

            $("tbody").append('<tr><td><input type="number" name="[' + (tc - 1) + '].InvId" /></td><td><input type="text" name="[' + (tc - 1) + '].Item" /></td><td><input type="text" name="[' + (tc - 1) + '].Description" /></td><td><input type="number" name="[' + (tc - 1) + '].Price" /></td><td><input type="number" name="[' + (tc - 1) + '].Quantity" /></td><td><input type="number" name="[' + (tc - 1) + '].BackOrdered" /></td><td><input type="number" name="[' + (tc - 1) + '].Received" /></td></tr>')
        });

        $("tbody").on("click", "span", function () {
            tc = parseInt($("#totalItems").val());
            tc = tc - 1;
            $("#totalItems").val(tc)

            $(this).parents("tr").remove();
        });
    });
</script>


