<h1 style="text-align:center">Add a Long Term Asset / Cash Purchase</h1>
<br />
<br />
<form action="/LongTermAssets/AddLTAsset" method="post">
   
    <label for="Item">Item</label><br />
    <input type="text" id="Item" name="Item" /><br />
    <label for="Description">Asset Type</label><br />
    <select id="Description" name="Description">
        <option value="---">------</option>
        <option value="Buildings and Improvements">Buildings and Improvements</option>
        <option value="Equipment">Equipment</option> 
        <option value="Land">Land</option>
    </select><br />
    <label for="PurchaseDate">Purchase Date</label><br />
    <input type="date" id="PurchaseDate" name="PurchaseDate" /><br />
    <label for="Amount">Book Value / Cash Paid</label><br />
    <input type="number" id="Amount" name="Amount" step=".01" /><br />
    <label for="Balance">Carrying Value</label><br />
    <input type="number" id="Balance" name="Balance" /><br />
    <label for="UsefulLife">Useful Life</label><br />
    <input type="number" id="UsefulLife" name="UsefulLife" /><br />
    <label for="LifeRemaining">Remaining Life</label><br />
    <input type="number" id="LifeRemaining" name="LifeRemaining" /><br />
    <input type="submit" value="Add LT Asset" />
</form>