<h1 style="text-align:center">Cash Sales Return / Update</h1>

<form action="/Sales/CashSalesReturn" method="Post">
    <h3>Enter the Sales Id:</h3>
    <input type="number" id="SalesId" name="SalesId" />
    <input type="submit" value="Submit" />
</form>