<h1 style="text-align:center">Accounting Management System</h1>
<br />
<ol>
    <li><a href="/AccountsPayable/GetAllPayables">Accounts Payable Index</a></li>
    <li><a href ="/AccountsReceivable/ARIndex">Accounts Receivable Index</a></li>
    <li><a href="/Cash/CashIndex">Cash Index</a></li>
    <li><a href="/Employees/EmployeesIndex">Employee Index</a></li>
    <li><a href="/Expense/ExpenseIndex">Expense Index</a></li>
    <li><a href="/ChartofAccounts/ChartofAccountsIndex">Financials</a></li>
    <li><a href="/Inventory/InventoryIndex">Inventory Index</a></li>
    <li><a href="/LongTermAssets/LongTermAssetIndex">Long Term Assets Index</a></li>
    <li><a href="/LongTermLiabilities/LTLiabilitiesIndex">Long Term Liabilities Index</a></li>
    <li><a href="/Payroll/PayrollIndex">Payroll Index</a></li>
    <li><a href="/Sales/SalesIndex">Sales Index</a></li>
    <li><a href="/Vendor/VendorIndex">Vendor Index</a></li>
</ol>